@charset "UTF-8";

/* Smartphone Portrait >>>>>>>>>>>>>*/


/* importação google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    scroll-behavior: smooth;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Cabeçalho */

header {

    height: 60px;
}

/* Layout*/
.container {
    margin: auto;

}

.flex {
display: flex;
justify-content: space-between;
}

.flex2 {
    display: flex;
    align-items: center;
}

.flex3 {
    display: flex;
    flex-direction: column;
}

.flex4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex5 {
    display: flex;
    flex-direction: column-reverse;
}

.flex6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logo > img {
    width: 128px;
    height: 128px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.527);
}

nav ul {
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    right: 0px;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

 nav ul li a {
    text-decoration: none;
    color: #fff;
}


main {
    height: 75vh;
    background: url(../imagens/banner.jpg);
    background-size: cover;
    background-position: center ;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}

.botao {
     text-decoration: none;
     color: #fff;
     font-size: 1.3em;
     font-weight: 700;
     background-color: #c00000;
     padding: 10px 40px;
     border: 2px solid #fff;
     border-radius: 25px;
}


/* Topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* sobre */ 
#sobre {
    padding: 50px 0px ;
    background: url(../imagens/background.png);
    background-size: cover;
    background-position: center;
}

#destaquesobre img {
   display: none;
}

#textosobre {
    color: white;
    padding: 0px 10px;
    
}

#textosobre {
    margin-bottom: 10px;
}

 .topicossobre {
    margin-top: 20px;
 }

 .topicossobre img {
    margin-right: 10px;
 }

 /* One page */

 #onepage {
    padding: 50px 10px;
 }

 #onepage h2 {
    margin-bottom: 10px;
 }
 
 #onepage p {
    margin-bottom: 25px;
 }

 #video iframe {
    width: 280px;
    height: 191px;
    border: 0px;
 }

 /* wireframe*/

 #Wireframe {
    padding: 50px 0px;
    background: url(../imagens/background.png);
    background-size: cover;
    background-position: center;

 }

 #textowire {
    color: white;
    padding: 0px 10px;
 }

 #textowire h2 {
    margin-bottom: 10px;

 }

 #textowire p {
    margin-bottom: 40px;
 }

 #textowire span {
    display: none;
 }

#qrcode {
    display: none;
}

/* conteudo */

#conteudo {
    padding: 50px 0px ;
}

#conteudo h2 {
    margin-bottom: 25px;
    text-align: center;
}

/* cartões */ 

.card {
    margin-top: 25px;
    width: 290px;
    height: 520px;
    background-color: #e8e8e8; 
    border: 1px solid #a1a1a1;
    border-radius: 25px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px ;
    width: 290px;
}

.card h3 {
    margin-top: 15px;
}

.card p {
    text-align: left;
    color: #434343;
    padding: 10px 30px 50px 30px ;
}

.card a {
    padding: 10px 100px ;
    border: 0;
}


#todos {
    margin-top: 50px;
    text-align: center;
}

#todos a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.25em;
}

/* redapé */

address {
    padding: 35px 10px 50px 10px ;
    background: url(../imagens/background2.png);
    background-size: cover;
    background-position: center;
    color: white;
}

address a {
    text-decoration: none;
    color: white;
}

address img {
    padding-top: 15px;
}

#iconelocal {
    display: none;
}

#dados {
    margin: 30px 0px 15px 0px ;
}

#googlemaps {
    display: none;
}

footer {
    padding: 45px;
    background-color: #343538;
    color: white;
    text-align: center;
}

#social {
    margin-bottom: 25px;
}