@charset "UTF-8";

/* Smartphone Portrait >>>>>>>>>>>>>*/


/* importação google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Cabeçalho */

header {
    height: 60px;
}

#logo > img {
    width: 128px;
    height: 128px;
}

/* Layout*/
    .container {
        margin: 0 auto;
        background-color: chartreuse;
}

.flex {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

/* Topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}